<!doctype html>
<html>
<head>
    <title>East Bay Vegan Eats</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Place Your Order</h1>
        <br>
        <form method="POST">
          <input type="text" name="cust" value="" placeholder="Customer">
          <input type="text" name="order" value="" placeholder="Order">
          <input type="submit" name="" value="SUBMIT">
        </form>

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
